/* Header styling */
.header{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 70px;
    bottom: 112px;
    right: 20px;
    background-color: black;
    opacity: .9;
    width: calc(100% + 30px);
    height: 251px;
}

.tic{
    background-color: crimson;
    color: #000;
}
.tic:hover{
    background-color: black;
    color: crimson;
    transition: all ease-out 0.4s;
}

.tac{
    background-color: coral;
    border-radius: 100px;
    color: white;
}
.tac:hover{
    background-color: white;
    color: coral;
    transition: all ease-out 0.4s;
}

.toe{
    color: crimson;
}
.toe:hover{
    background-color: crimson;
    color: #000;
    transition: all ease-out 0.4s;
}

