.header {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.title {
    font-size: 4rem;
    margin: 0;
    line-height: 1;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
}

.tic {
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    margin-right: 15px;
}

.tac {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    margin-right: 15px;
}

.toe {
    color: #f0f;
    text-shadow: 0 0 10px #f0f, 0 0 20px #f0f;
}

.subtitle {
    margin-top: 10px;
    color: #aaa;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: flicker 4s infinite;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        opacity: 1;
    }

    20%,
    24%,
    55% {
        opacity: 0.1;
    }
}